body{
    margin: 0;
}
.main{
    width: 95%;
    margin: auto;
}
.edit-div{
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 1%;
    margin: auto;
    display: none;
}
.edit-div > :first-child{
    border: 2px solid lightskyblue;
    resize: none;
    outline: none;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.sub{
    width:20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.sub:active{
    background-color: #fff;
    color: #000;
}
.edit-div > :last-child{
    width:20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #da1a30;
    border: 1px solid #da1a30;
    border-radius: 3px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.list{
    padding:1%;
    border-bottom: 2px solid silver;
    width:90%;
    margin: auto;
}
.header{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
}
.task{
    display: inline-block;
    width: 65%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    vertical-align: middle;
}
.delete{
    display: inline-block;
    width: 15%;
    height: inherit;
    text-align: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color:#5e5e5e;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
}
.edit{
    display: inline-block;
    width: 15%;
    height: inherit;
    text-align: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color:#5e5e5e;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
}
.nothing{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width:100%;
    margin: auto;
    text-align: center;
    display: none;
}
.nothing span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#5e5e5e;
    font-weight: 600;
}
.compose{
    display: none;
}
.add{
    background-color: #da1a30;
    border: 1px solid #da1a30;
    border-radius: 3px;
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

@media screen and (max-width:768px){
    .list{
        display: block;
        margin-bottom: 15%;
    }
    .switch{
        position: fixed;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        background-color: silver;
        color:#000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        padding: 2%;
        width:25%;
        cursor: pointer;
    }
    .compose{
        display: none;
        text-align: center;
    }
    .field{
        border:1px solid silver;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        background-color: #fff;
    }
    #user-name{
        padding: 3%;
        width:80%;
        border-radius: 3px;
        font-size: 16px;
        color: black;
        background-color: #f9f9f9;
        border: 0;
    }
    #task{
        margin-top: 3%;
        width:100%;
        height: 70vh;
        background-color: #f9f9f9;
        border: 0;
    }
    .button-div > :last-child{
        background-color: silver;
        color:#000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        padding: 2%;
        width:25%;
        margin: auto;
        margin-top: 5%;
        cursor: pointer;
    }
}

@media screen and (min-width:992px){
    body{
      background-color: #acaaaa;
    }
    .edit-div > :last-child{
        width: 7%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
    }
    .sub{
        width: 7%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
    }
    .list{
        display: inline-block;
        width:45%;
        vertical-align: top;
        margin: auto;
    }
    .list-div{
        background-color: silver;
        padding: 3%;
    }
    .nothing{
        width:60%;
        text-align: left;
    }
    .nothing span{
        font-size: 19px;
    }
    .compose{
        display: inline-block;
        width:45%;
        margin: auto;
        text-align: center;
    }
    .task-div{
        margin-top: 2%;
    }
    .field{
        border:1px solid silver;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        background-color: silver;
    }
    #user-name{
        padding: 1%;
        width:50%;
        border-radius: 3px;
    }
    #task{
        width:85%;
        height: 70vh;
    }
    .add{
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .switch{
        display: none;
    }
    .button-div > :last-child{
        display: none;
    }
}